@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@0;1&Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400&display=swap');

$blue: hsl(199, 85%, 21%);
$yellow: hsl(33, 76%, 51%);
$orange: hsl(22, 82%, 39%);
$brown: hsl(15, 86%, 30%);

$family-sans-serif: "Source Sans Pro", sans-serif;
$family-monospace: "Source Code Pro", monospace;

$grey-light: hsl(210, 16%, 82%);
$primary: $blue;
$info: $yellow;
$link: $orange;
$success: hsl(83, 68%, 74%);
$warning: $brown;
$danger: hsl(360, 72%, 38%);
$light: hsl(198, 40%, 87%);
$dark: hsl(210, 24%, 16%);

$body-background-color: hsl(216, 33%, 97%);
$dropdown-item-hover-background-color: hsl(199, 92%, 15%);
$dropdown-item-active-background-color: $primary;
$dropdown-item-hover-color: hsl(0, 100%, 97%);

// Import only what you need from Bulma
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/title.sass";

@import "./buefy"
